---
layout: default
---

<div class="cv-wrap">
    <header class="cv-header">
        <h1>Alexey Stratan, frontend-developer</h1>
        <div class="cv-langs">
            <a href="/cv/">ru</a>
            |
            <span>en</span>
        </div>
    </header>

    <section class="cv-main">
        <h2>About</h2>
        <p>
            10-years experienced frontend developer and JS programmer.
            Communicable, responsible.
            My goal is to participate in useful and beautiful projects with professionals.
            I love clear code, interesting tasks and clever interfaces.
        </p>

        <h2>Skills</h2>
        <ul>
            <li>Full-stack frontend</li>
            <li>JS (TypeScript, ES6), HTML, CSS (Sass, Less, PostCSS)</li>
            <li>Angular (+ ngrx), RxJs, Vue.js, AngularJS, jQuery, Backbone.js</li>
            <li>RIA, SPA. NativeScript, PhoneGap, Cordova</li>
            <li>Webpack, Gulp, Grunt</li>
            <li>Git, SVN. TDD, BDD</li>
            <li>Pixel-perfect, parallaxes, adaptive, cross-browser etc</li>
            <li>Photoshop, Sketch, Zeplin, Avocado</li>
            <li>Scrum, Jira, Redmine</li>
            <li>YandexMaps API, GoogleMaps API, d3.js</li>
            <li>Node.js, Ruby (RoR), Python (Django, Tornado), PHP (Yii, Wordpress)</li>
            <li>Familiar with UNIX, working on Mac</li>
            <li>Advanced english</li>
        </ul>
    </section>

    <aside class="cv-aside">
        <div class="cv-face">
            <img src="../assets/face.jpg" alt="" width="230"/>
        </div>

        <ul class="cv-contacts">
            <li>
                <span class="cv-contacts__label">email:</span>
                <a href="mailto:alexey.stratan@gmail.com">alexey.stratan@gmail.com</a>
            </li>

            <li>
                <span class="cv-contacts__label">skype:</span>
                <a href="skype:alexey-stratan?chat">alexey-stratan</a>
            </li>

            <li>
                <span class="cv-contacts__label">github:</span>
                <a href="http://github.com/lehos">lehos</a>
            </li>
            <li>
                <span class="cv-contacts__label">&nbsp;</span>
                <a href="https://www.linkedin.com/in/aleksei-stratan-46190674/">linkedin</a>
            </li>
            <li>
                <span class="cv-contacts__label">socials:</span>
                <a href="http://vk.com/fake_lehos">vk</a>
                <a href="https://www.facebook.com/true.lehos">fb</a>
            </li>
        </ul>
    </aside>

    <section class="cv-jobs">
        <h2>Work experience</h2>

        {% for job in site.data.jobs_en %}
        <div class="cv-item">
            <div class="cv-item__date">{{ job.date }}</div>
            <div class="cv-item__company">{{ job.name }}</div>
            <div class="cv-item__post">{{ job.post }}</div>
            <div class="cv-item__desc">
                <ul>
                    {% for desc in job.desc %}
                    <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if job.tech %}
            <div class="cv-item__tech">{{ job.tech }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</div>
