---
layout: default
title: CV Stratan Alexey
---

<div class="cv-wrap">
    <header class="cv-header">
        <h1>Alexey Stratan, frontend-developer</h1>
        <div class="cv-langs">
            <a href="/cv/">ru</a>
            |
            <span>en</span>
        </div>
    </header>

    {% include contacts.html %}

    <section class="cv-main">
        <h2>About</h2>
        <p>
            Experienced frontend developer and JS programmer.
            Communicable, responsible.
            My goal is to make useful and beautiful projects in professional teams.
            I love clear code, interesting tasks and clever interfaces.
        </p>

        <h2>Skills</h2>
        <ul>
            <li>Full-stack frontend</li>
            <li>JS (TypeScript, ES6), HTML, CSS (Sass, Less, PostCSS)</li>
            <li>Angular (+ ngrx), RxJs, Vue.js, AngularJS, jQuery, Backbone.js</li>
            <li>RIA, SPA. NativeScript, PhoneGap, Cordova</li>
            <li>Webpack, Gulp, Grunt</li>
            <li>Git, SVN. TDD, BDD</li>
            <li>Pixel-perfect, parallaxes, adaptive, cross-browser etc</li>
            <li>Photoshop, Sketch, Zeplin, Avocode</li>
            <li>Scrum, Jira, Redmine</li>
            <li>YandexMaps API, GoogleMaps API, d3.js</li>
            <li>Node.js, Ruby (RoR), Python (Django, Tornado), PHP (Yii, Wordpress)</li>
            <li>Familiar with UNIX, working on Mac</li>
            <li>Advanced english</li>
        </ul>
    </section>


    <section class="cv-jobs">
        <h2>Work experience</h2>

        {% for job in site.data.jobs_en %}
            {% include jobs.html %}
        {% endfor %}
    </section>
</div>
