<aside class="cv-aside">
    <div class="cv-face">
        <img src="{{ '/assets/face.jpg' | relative_url }}" alt="" width="230"/>
    </div>

    <ul class="cv-contacts">
        <li>
            <span class="cv-contacts__label">email:</span>
            <a href="mailto:alexey.stratan@gmail.com">alexey.stratan@gmail.com</a>
        </li>

        <li>
            <span class="cv-contacts__label">skype:</span>
            <a href="skype:alexey-stratan?chat">alexey-stratan</a>
        </li>

        <li>
            <span class="cv-contacts__label">github:</span>
            <a href="http://github.com/lehos">lehos</a>
        </li>
        <li>
            <span class="cv-contacts__label">socials:</span>
            <a href="https://www.linkedin.com/in/aleksei-stratan-46190674/">linkedin</a>
            <a href="http://vk.com/fake_lehos">vk</a>
            <a href="https://www.facebook.com/true.lehos">fb</a>
        </li>
    </ul>
</aside>