$base-font-size: 13px;
$base-font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	font: normal #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	margin: 0;
}

h2 {
	margin-top: 20px;
}

a,
a:visited {
	color: $brand-color;
}
a:hover {
	color: blue;
}

ul, ol {
	padding: 0 0 0 25px;
	margin: 0;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 20px 0 5px 0;
}

.layouter {
	max-width: $on-laptop;
	margin: auto;
	padding: 0 20px;
}

.cv-header {
	margin-bottom: 20px;
	h1 {
		display: inline-block;
		margin: 0;
		font-size: 25px;
	}
}

.cv-langs {
	float: right;
	text-align: right;
	line-height: 35px;
	margin-left: 20px;
}


.cv-wrap {
	margin-top: 20px;
}


.cv-aside {
	width: 230px;
	float: right;
}
.cv-face {
	margin-bottom: 8px;
}
.cv-contacts {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__label {
		color: #666;
		display: inline-block;
		width: 50px;
	}
}


.cv-main {
	padding-right: 250px;

	h2:first-child {
		margin-top: 0;
	}
}


@include media-query($on-laptop) {
	.cv-aside {
		float: none;
		width: auto;
		margin-bottom: 20px;
	}
	.cv-face {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		height: 230px;
		overflow: hidden;
	}
	.cv-contacts {
		display: inline-block;
		vertical-align: top;
	}
	.cv-main {
		padding-right: 0;
	}
}

.cv-item {
	margin-bottom: 1.9em;
	page-break-inside: avoid;

	&__date {
		color: #999;
		font-size: 12px;
	}
	&__company {
		font-weight: bold;
		font-size: 14px;
	}
	//&__post {
	//	margin-bottom: 5px;
	//}
	&__desc {
		ul {
			margin-bottom: 5px;
		}
	}
}


.site-footer {
	margin-bottom: 20px;
}

@media print {
	body {
		font-size: 11px;
	}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 14px;
	}
	.site-footer,
	.cv-langs {
		display: none;
	}

	.layouter {
		max-width: inherit;
		padding: 0;
	}

	.cv-wrap {
		margin: 0;
	}
}