---
layout: default
title: Стратан Алексей, резюме
---

<div class="cv-wrap">
    <header class="cv-header">
        <h1>Алексей Стратан, фронтенд-разработчик </h1>

        <div class="cv-langs">
            <span>ru</span>
            |
            <a href="en/">en</a>
        </div>
    </header>

    {% include contacts.html %}

    <section class="cv-main">
        <h2>О себе</h2>
        <p>
            Ответственный, инициативный, коммуникабельный. В меру перфекционист.
            Стремлюсь участвовать в полезных и красивых проектах, работать с профессионалами.
            Люблю продуманные интерфейсы, хороший код и интересные задачи.
        </p>

        <h2>Навыки и умения</h2>
        <ul>
            <li>JavaScript (ES5, ES6+, TypeScript)</li>
            <li>Vue.js, Angular (+ ngrx, RxJs), React (+ MobX, Redux), AngularJS, Backbone.js, jQuery</li>
            <li>SPA, PWA</li>
            <li>Git, Docker</li>
            <li>Webpack, Gulp</li>
            <li>Unix shell</li>
            <li>HTML, CSS (SCSS, Less, PostCSS). Sketch.app, Photoshop, Figma</li>
            <li>TDD, BDD. Karma, Mocha/Chai</li>
            <li>Node.js, Ruby (RoR), Python (Django), PHP (Yii, Symphony, Wordpress)</li>
            <li>Postgres, MySQL</li>
            <li>English advanced</li>
        </ul>
    </section>

    <section class="cv-jobs">
        <h2>Опыт работы</h2>

        {% for job in site.data.jobs %}
            {% include jobs.html %}
        {% endfor %}
    </section>
</div>
