---
layout: default
title: Стратан Алексей, резюме
---

<div class="cv-wrap">
    <header class="cv-header">
        <h1>Алексей Стратан, фронтенд-разработчик </h1>

        <div class="cv-langs">
            <span>ru</span>
            |
            <a href="en/">en</a>
        </div>
    </header>

    <aside class="cv-aside">
        <div class="cv-face">
            <img src="assets/face.jpg" alt="" width="230"/>
        </div>

        <ul class="cv-contacts">
            <li>
                <span class="cv-contacts__label">email:</span>
                <a href="mailto:alexey.stratan@gmail.com">alexey.stratan@gmail.com</a>
            </li>

            <li>
                <span class="cv-contacts__label">skype:</span>
                <a href="skype:alexey-stratan?chat">alexey-stratan</a>
            </li>

            <li>
                <span class="cv-contacts__label">github:</span>
                <a href="http://github.com/lehos">lehos</a>
            </li>
            <li>
                <span class="cv-contacts__label">&nbsp;</span>
                <a href="https://www.linkedin.com/in/aleksei-stratan-46190674/">linkedin</a>
            </li>
            <li>
                <span class="cv-contacts__label">socials:</span>
                <a href="http://vk.com/fake_lehos">vk</a>
                <a href="https://www.facebook.com/true.lehos">fb</a>
            </li>
        </ul>
    </aside>

    <section class="cv-main">
        <h2>О себе</h2>
        <p>
            Фронтенд-разработчик, JS-программист, разработчик интерфейсов, веб-технолог, верстальщик.
            Коммуникабельный, ответственный.
            Слежу за тенденциями и актуальными технологиями в мире веб-разработки.
            Стремлюсь участвовать в полезных и красивых проектах и работать с профессионалами.
            Люблю хороший код, интересные задачи и продуманные интерфейсы.
        </p>

        <h2>Навыки и умения</h2>
        <ul>
            <li>Full-stack frontend</li>
            <li>JS (TypeScript, ES6), HTML, CSS (Sass, Less, PostCSS)</li>
            <li>Angular (+ ngrx), Vue.js, React (+ Redux, MobX), AngularJS, RxJs, Backbone.js, jQuery</li>
            <li>RIA, SPA. NativeScript, PhoneGap, Cordova</li>
            <li>Git, SVN. TDD, BDD</li>
            <li>Webpack, Gulp, Grunt</li>
            <li>Pixel-perfect, параллаксы, адаптивность, кроссбраузерность и т.п.</li>
            <li>Photoshop, Sketch, Zeplin, Avocode</li>
            <li>Scrum, Jira, Redmine</li>
            <li>YandexMaps API, GoogleMaps API, d3.js</li>
            <li>Node.js, Ruby (RoR), Python (Django, Tornado), PHP (Yii, Wordpress)</li>
            <li>Хорошо знаком с юниксами, работаю на маке</li>
            <li>Английский на уровне advanced</li>
        </ul>
    </section>

    <section class="cv-jobs">
        <h2>Опыт работы</h2>

        {% for job in site.data.jobs %}
        <div class="cv-item">
            <div class="cv-item__date">{{ job.date }}</div>
            <div class="cv-item__company">{{ job.name }}</div>
            <div class="cv-item__post">{{ job.post }}</div>
            <div class="cv-item__desc">
                <ul>
                    {% for desc in job.desc %}
                    <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if job.tech %}
            <div class="cv-item__tech-stack">{{ job.tech }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</div>
